
// ------------ TYPOGRAPHY -------------

// FONTS -------------------------------

// MONTSERRAT
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
$primary-font: 'Montserrat', sans-serif;

// SOURCE SANS PRO
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
$secondary-font: 'Source Sans Pro', sans-serif;


// HEADERS -----------------------------

h2 {
	font-family: $primary-font;
	font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
    padding: 0;
    color: rgb(13, 61, 109);
}

h3 {
	font-family: $primary-font;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgb(13, 61, 109);
}

// LINKS -------------------------------
a {
	text-decoration: none;
}

// PARAGRAPHS --------------------------

p {
	line-height: 1.5;
}

// BLOCKQUOTES -------------------------

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}


// PRE (FORMATS CODE YOU DISPLAY ON PAGE)

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}